/* *{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.parent{
    background-color: aquamarine;
    padding: 24px;
    display: flex;
}

.child{
    background-color: yellow;
    width: calc(100% - 48px);
}

.hamburger{
    background-color: black;
    height: 40px;
    width: 40px;
    border-radius: 50%;
}

@media ( width<=800px ){
    .parent{
        background-color: yellow;
    }
}

@media ( width<=1000px ){
    .parent{
        background-color: green;
    }
}

body{
    height: 300vh;
}

.p1{
    background-color: aqua;
    height: 20px; width: 20px;
    position: absolute;
    top: 200px;
    left: 50%;
}

.p2{
    background-color: green;
    height: 20px; width: 20px;
    position: fixed;
    top: 200px;
    left: 50%;
} */

.container{
    height: 500px;
    background-color: yellow;
    margin: 100px;
}

.child{
    height: 40px;
    width: 40px;
    background-color: blueviolet;

    position: sticky;
    top: 50px;
}