main{
    padding: 24px;
    background-color: grey;
    min-height: 10px;
}

main>div{
    width: 300px;
    padding: 16px;
    background-color: azure;
    margin: 12px auto;
}

img{
    max-width: 200px;
    max-height: 200px;
}